@import "../../node_modules/normalize.css/normalize.css";

:root {
    --color: #000;
    --background: #fff;
    --border-color: #ccc;
    --svg-fill: rgb(191, 221, 243);
    --svg-wedge: dodgerblue;
    --link-color: #0b67c4;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: rgb(187, 198, 206);
        --background: rgb(8, 33, 51);
        --border-color: rgb(20, 81, 125);
        --svg-fill: dodgerblue;
        --svg-wedge: rgb(191, 221, 243);
        --link-color: dodgerblue;
    }
}

body {
    font-size: 14px;
    font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#root {
    padding: 2rem 1.5rem;
    min-height: 100vh;
    color: var(--color);
    background: var(--background);
}

h1 {
    margin-bottom: 2rem;
}

fieldset {
    margin-bottom: 10px;
    padding: 10px 15px 18px;
    max-width: 450px;
    border: 1px solid var(--border-color);
}

fieldset b,
fieldset input,
fieldset select {
    font-size: 16px;
}
fieldset div {
    margin: 5px 0 0;
}
fieldset div:first-of-type {
    margin: 0;
}
fieldset input {
    width: 2.5em;
}

.subdued {
    color: #888;
    font-size: 12px;
}

hr {
    margin-top: 5rem;
    border: 0.25rem solid #eee;
}

table {
    border-spacing: 0;
    width: 100%;
}

td {
    border-bottom: 1px solid var(--border-color);
    padding: 8px 0;
    line-height: 1.5;
}

td:last-child {
    padding-left: 10px;
    text-align: right;
}

tr:last-child td {
    border: 0;
}

body.has-js .no-js,
.hidden {
    display: none;
}

.wrap {
    margin-top: 0;
}

.nowrap {
    display: inline-block;
    white-space: nowrap;
}

#d3 {
    text-align: center;
}

/* ----- */
/* Links */
/* ----- */

a {
    cursor: pointer; /* For the sake of JS-created links without `href`s. */
    color: var(--link-color);
    text-decoration: underline;
}

a:hover {
    background: #eaf4fe;
    color: rgba(0, 0, 0, 0.9);
}
